@import 'settings/normalize';
@import 'settings/core';
@import 'settings/colors';

@import 'generic/fonts';

html,
body {
  height: 100%;
  background-color: var(--ss--secondary-color);
  color: var(--ss--dark-color);
  font-family: 'WorkSans'
}